<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Resources.Listeners"/>
<listener class-name="Resources.ExtentReporterNG"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
    <class name="Practice.AppiumFramework.Ecommerce_1"/>
      <class name="Practice.AppiumFramework.ApiDemoTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
