<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
<listeners>
<listener class-name="Listeners"/>
</listeners>
<parameter name="URL" value="qaclickacademy.com"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Lesson1"/>
      <class name="Lesson2"/>
      <class name="Lesson3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
